.productPageContent{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.productTitleBlock{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.productTitleBlock > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.productTitleBlock > span{
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    color: var(--text-opacity);
}
.breadCrumbsBlock{
    display: flex;
    align-items: center;
    gap: 8px;
}
.productInfoBlock{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
}
.right{
    position: sticky;
    top:0;
    display: flex;
    width: 340px;
    padding: 12px 12px 32px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 18px;
    background: var(--white);
}
.badges{
    display: flex;
    align-items: center;
    gap: 4px;
}
.badges > span:nth-child(1){
    background: #35FFAA;
}
.priceBlock{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 4px;
    align-items: flex-start;
}
.finalPrice > p{
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
}
.priceDiscount{
    display: flex;
    align-items: center;
    gap: 12px;
}
.priceDiscount > span:nth-child(1){
    font-size: 15px;
    line-height: 20px;
    color: #8F9596;
    position: relative;
}
.priceDiscount > span:nth-child(1)::after{
    position: absolute;
    content: '';
    top: 11px;
    width: 100%;
    height: 1px;
    left: 0;
    background: var(--accent);
}
.cartBtnBlock{
    width: 100%;
}
.cartBtnBlock > button{
    width: 100%;
    display: flex;
    padding: 14px 20px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--accent);
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;
        color: var(--white);

    }
}
.cartBtnBlock > button:hover{
    background: var(--accent-hover);
}
.counter{
    display: flex;
    align-items: center;
    gap: 8px;
}
.counter > button{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 13px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--Dark-D100, #152429);
}
.counterWrapper{
    display: flex;
    flex: 1 0 0;
    height: 52px;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--Dark-D5, #EEEFF0);
}
.counterWrapper > button{
    display: flex;
    padding-right: 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.counterWrapper > button:nth-child(3){
    padding-right: 0;
    padding-left: 12px;
}
.counterWrapper > p{
    font-size: 14px;
    font-weight: 900;
    line-height: 400;
}
.productDeliveryBlock{
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.productDeliveryItem{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
}
.productDeliveryItemText{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}
.productDeliveryItemText > p{
    font-size: 16px;
    line-height: 20px;
    span{
        color: var(--accent);
    }
}
.productDeliveryItemText > span{
    font-size: 16px;
    line-height: 20px;
    color: #909596;
}
.productSpecifications{
    padding: 32px 24px;
    border-radius: 18px;
    background: var(--white);
    display: flex;
    gap: 24px;
    align-items: flex-start;
}
.productSpecificationsImages{
    width: 519px;
}
.productSpecificationsImages > div:nth-child(1){
    height: 519px;
}
.productSpecificationsImages > div:nth-child(1) > div > div{
    border-radius: 18px;
    border: 1px solid var(--Dark-D20, #CFD0D1);
    overflow: hidden;
}

.productSpecificationsImages > div:nth-child(2){
    margin-top: 12px;
    height: 72px;
}
.productSpecificationsImages > div:nth-child(2) > div{
    width: 100%;
    height: 100%;

}
.productSpecificationsImages > div:nth-child(2) > div > div{
    border-radius: 8px;
    border: 1px solid var(--Dark-D10, #E1E2E3);
    overflow: hidden;
}
.productSpecificationsImages > div:nth-child(2) > div > div > img{
    width: 100%;
    height: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    flex: 1 0 0;
}
.textItem{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
}
.textItem > span{
    color: #909596;
    font-size: 16px;
    line-height: 20px;
}
.line{
    display: flex;
    flex: 1 0 0;
    padding-bottom: 6px;
    justify-content: flex-end;
    border-top: 1px solid #E1E2E3;
}
a.link{
    color: var(--accent);
    font-size: 16px;
    line-height: 24px;
}
.productSpecificationsDesc{
    display: flex;
    padding: 16px 24px 32px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--white);
}
.productSpecificationsDescContent{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
}
.top{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
    border-bottom: 1px solid var(--Dark-D20, #D1D4D5);
    width: 100% ;
}
.top > button{
    display: flex;
    padding: 16px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.top > button > p{
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
}
.top > button.active{
    border-bottom: 2px solid var(--accent);

}
.middle{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.middle > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 0 0;
    align-items: flex-start;
}
.textItem > span{
    display: flex;
    align-items: center;
    gap: 2px;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}
.textDescriptionItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.textDescriptionItem > p{
    font-size: 16px;
    line-height: 24px;
    color: #425358;
    align-self: stretch;
}
.textDescriptionItem > h4{
    color: #0B262E;
    font-size: 24px;
    line-height: 28px;
}
.productReviews{
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 36px;
    border-radius: 18px;
    background: var(--white);
}
.productReviewsTitleBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.productReviewTitle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.productReviewTitle > h3{
    font-size: 28px;
    line-height: 120%;
}
.productReviewTitle > p{
    font-size: 16px;
    line-height: 16px;
    color: #909596;
}
.productReviewRating{
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18px;
    background: var(--Dark-D5, #EEEFF0);
}
.productReviewRatingContent{
    display: flex;
    align-items: center;
    gap: 12px;
}
.productRatingValue{
    display: flex;
    align-items: center;
}
.productRatingValue > p:nth-child(1){
    font-size: 36px;
    line-height: 110%;
    font-weight: 900;
    color: #0B262E;
}
.productRatingValue > p:nth-child(2){
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    color: #8F9596;
}
@media (max-width: 768px){
    .mobileProductPageContent{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .mobileBreadCrumbs{
        overflow-x: auto;
        display: flex;
        align-items: center ;
        gap: 4px;
        width: 100%;
        padding: 12px 16px 8px 16px;
        opacity: .8;
    }
    .mobileProductImgWrapper{
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 20px 20px;
        background: var(--white);
    }
    .mobileProductImgSlider{
        width: 264px;
        height: 264px;
    }
    .mobileProductImgSlider > div:nth-child(1){
        width: 100%;
        height: 100%;
    }
    .mobileProductImgSlider > div > div:nth-child(2){
        width: 100%;
        height: 10px;
    }
    .mobileProductImgSlider > div > div > div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mobileProductInfoWrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        border-radius: 20px;
        background: var(--white);
    }
    .mobileProductInfoWrapperTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileRating{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
    .mobileRating > div{
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .mobileRating > div > p{
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
    .mobileRating >  span{
        font-size: 12px;
        line-height: 14px;
        color: #8F9596;
    }
    .mobileTopButtons{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .mobileTopButtons > button{
        padding: 6px;
        display: flex;
        align-items: center;
    }
    .mobileProductTitleBlock{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .mobileProductTitleBlock > h3{
        font-size: 18px;
        line-height: 120%;
        letter-spacing: .54px;
    }
    .mobileProductTitleBlock > span{
        font-size: 12px;
        line-height: 14px;
        color: #8F9596;
    }
    .mobileProductPriceBlock{
        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        border-radius: 18px;
        border: 1px solid var(--Dark-D10, #E4E5E5);
        background: var(--Dark-D0, #FFF);
    }
    .mobileProductPriceValue{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
    }
    .oldPrice{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .oldPrice > p{
        font-size: 13px;
        line-height: 20px;
        color: #8F9596;
        position: relative;
    }
    .oldPrice > p::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--accent);
        top: 10px;
    }
    .mobileFinalPrice{
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
    }
    .mobileProductActionBtn{
        width: 100%;
    }
    .mobileProductActionBtn > button{
        width: 100%;
        gap: 8px;
        background: var(--accent);
        color: var(--white);
    }
    .mobileProductActionBtn > button:hover{
        background: var(--accent-hover);
    }
    .mobileProductDeliveryItems{
        width: 100%;
    }
    .productDeliveryBlock{
        padding-bottom: 8px;
        gap: 12px;
    }
    .productDeliveryItem{
        gap: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid  #E4E5E5;
    }
    .productDeliveryItem:last-child{
        border-bottom: none;
    }
    .productDeliveryItemText > p{
        font-size: 14px;
        line-height: 18px;
    }
    .productDeliveryItemText > span{
        font-size: 12px;
        line-height: 14px;
    }
    .mobileProductDescriptionBlock{
        padding: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
        border-radius: 20px;
        background: var(--white);
    }
    .mobileProductDescriptionType{
        display: flex;
        padding: 4px;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 14px;
        background: var(--Dark-D5, #EEEFF0);
    }
    .mobileProductDescriptionType > button:nth-child(1){
        border-radius: 14px;
    }
    .mobileProductDescriptionType > button{
        display: flex;
        flex: 1 0 0;
        display: flex;
        padding: 10px 14px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 14px;
        background: var(--Dark-D5, #EEEFF0);
        p{
            font-weight: 500;
        }
    }
    .mobileProductDescriptionType > button.active{
        background: #152429;
        p{
            color: var(--white)
        }
    }
    .mobileProductDescriptionWrapper{
        width: 100%;
    }
    .text{
        gap: 12px;
    }
    .textItem> span{
        font-size: 14px;
        line-height: 16px ;
    }
    .link{
        margin-top: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}