.counterBadge{
    display: flex;
    min-width: 16px;
    padding: 2px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: var(--accent);
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */
    position: absolute;
    left: 22.5px;
    top: -4px;

}