.mainLayout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    align-items: stretch;
    gap:0;
}
.mainWrapper{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    overflow-y: auto;
}
.main{
    /* padding: 0 32px; */
}

@media (max-width:768px){
    .mainLayout,
    .mainWrapper{
        /* height: auto; */
    }
    .mainWrapper{
        height: 100%;
    }
    .main{
        padding: 0 0;
    }
    .mainWrapper{
        gap: 0;
    }
}