.timerBtn{
    margin-top: 12px;
    width: 100%;
    padding: 12px 14px;
    background: var(--accent);
    border-radius: 12px;
    border: 1px solid #E4E5E5;
    display: flex;
    justify-content: center;
    p{
        color: var(--white);
        font-size: 14px;
        font-weight: 500;

    }
}
