.reviewsListContent{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.productReviewsInner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.productReviews{
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    gap: 36px;
    border-radius: 18px;
    background: var(--white);
}
.productReviewsTitleBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.productReviewTitle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.productReviewTitle > h3{
    font-size: 28px;
    line-height: 120%;
}
.productReviewTitle > p{
    font-size: 16px;
    line-height: 16px;
    color: #909596;
}
.productReviewRating{
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 18px;
    background: var(--Dark-D5, #EEEFF0);
}
.productReviewRatingContent{
    display: flex;
    align-items: center;
    gap: 12px;
}
.productRatingValue{
    display: flex;
    align-items: center;
}
.productRatingValue > p:nth-child(1){
    font-size: 36px;
    line-height: 110%;
    font-weight: 900;
    color: #0B262E;
}
.productRatingValue > p:nth-child(2){
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    color: #8F9596;
}
.productPageReviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
