.productCard{
    width: 100%;
    height: 480px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 18px;
    background: var(--white);
    position: relative;
    z-index: 0;
}
.prodcutCardLink{
    position: absolute;
    width: 100%;
    height: calc(100% - 250px);
    bottom: 0;
    z-index: 2;
}
.productCardImagesWrapper{
    height: 237.025px;
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 121/120;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.productCardImages > div:nth-child(1){
    width: 100%;
    height: 100%;
}
.productCardImages > div:nth-child(1) > div > div {
    width: 100%;
    height: 100%;
}
.productCardImages > div:nth-child(1) > div > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productCard{
    position: relative;
}
.badgesList{
    position: absolute;
    top: 20px;
    z-index: 4;
    left: 20px;
    width: 100%;
    height: auto!important;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    pointer-events: none;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    will-change: transform;
    contain: paint;
}
.badgesList > span{
    width: fit-content;
    height: fit-content;
}
.productCardImagesWrapper > div{
    position: relative;
}
.productCardImagesWrapper  > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.favoriteBtn{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 6;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    will-change: transform;
    contain: paint;
}
.productCardImagesWrapper > div, 
.productCardImagesWrapper > div > div{
    width: 100%;
    height: 100%;
}
.productCardImagesWrapper > div > div > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productCardInfoTop{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.productCardInfoReviews{
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
}
.productCardInfoReviews > span:nth-child(2){
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}
.productCardInfoReviews > span:nth-child(3){
    font-size: 12px;
    line-height: 14px; /* 116.667% */
    color: #8F9596;
}
.productCardInfoTop > h4{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;

    line-height: 20px; /* 142.857% */
}
.productCardInfo{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 0 0;
    position: relative;
    width: 100%;
}
.productCardInfoPrice{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.productCardPriceWrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.productCardBtn{
    display: flex;
    height: 46px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    background: var(--accent);
    border-radius: 14px;
    position: relative;
    z-index: 3;
    p{
        color: var(--white);
        font-size: 16px;
        line-height: 24px;
    }
}
.finalPrice{
    span{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
}
.discountPrice{
    display: flex;
    align-items: center;
    gap: 4px;
}
.discountPrice > span:nth-child(1){
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    color: #8F9596;
    position: relative;
}
.discountPrice > span:nth-child(1)::after{
    content: '';
    width: 100%;
    height: 1px;
    top: 10px;
    background: var(--accent);
    position: absolute;
    left: 0;
}
.toastContent{
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px!important;
    flex: 1 0 0;
}
.toastContent > div > p{
    font-size: 16px;
    line-height: 14px;
}
.toastContent > a{
    color: #8F9596;
}
.productCardLink{
    position: absolute;
    inset: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% - 237px);
    opacity: 0;
}
.counterWrapper{
    display: flex;
    height: 52px!important;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    background: var(--Dark-D5, #EEEFF0);
}
.counterWrapper > button:nth-child(1){
    padding-right: 12px;
}
.counterWrapper > button:nth-child(3){
    padding-left: 12px;
}
.counterWrapper > p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
    color: #212121;
}
.counterBlock{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    z-index: 4;
}
.counterBlock > button{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 13px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: var(--Dark-D100, #152429);
}
@media (max-width:768px){
    .productCard{
        height: 408px;
        padding: 12px 8px;
        gap: 10px;
    }
    .productCardImagesWrapper{
        height: 175px;
    }
    .favoriteBtn{
        top: 0;
        right: 0;
    }
    .finalPrice span{
        font-size: 18px;
        line-height: 20px;
    }
    .productCardBtn{
        padding: 6px 12px;
        height: 36px;
        svg{
            display: none;
        }
        p{
            font-size: 14px;
            line-height: 14px;
        }
    }
    .productCardInfo{
        justify-content: end;
    }
    .productCardInfoTop > h4{
        max-height: 40px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .productCardLink{
        height: calc(100% - 175px);
    }
    .badgesList{
        left: 12px;
    }
}