.newOrderPage{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.newOrderPageTop{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 32px 0 12px 0;
}
.newOrderPageTop > a{
    display: flex;
    align-items: center;
    gap: 4px;
    p{
        color: #909596;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
}
.newOrderBody{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.newOrderContacts{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 12px;
}

.newOrderField{
    border: 1px solid var(--Dark-D10, #E1E2E3);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    align-items: flex-start;
    border-radius: 16px;
    background-color: var(--white);
}
.newOrderFieldTitle{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.newOrderFieldTitle > div{
    display: flex;
    width: 28px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: var(--Dark-D5, #EEEFF0);
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        opacity: .5;
    }
}
.newOrderFieldTitle > p:nth-child(2){
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.newOrderFieldContactInfo{
    display: flex;
    padding: 0 40px;
    align-items: center;
    gap: 12px;
}
.newOrderFieldContactInfo > div:nth-child(1){
    display: flex;
    width: 24px;
    height: 24px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #FFDAC8;
}
.newOrderFieldContactInfo > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.newOrderFieldContactInfo > div:nth-child(2) > p:nth-child(1){
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
    letter-spacing: 0.18px;
}
.newOrderFieldContactInfo > div:nth-child(2) > p:nth-child(2){
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 112.5% */
    letter-spacing: 0.16px;
}
.newOrderDeliveryMethod{
    display: flex;
    padding: 0 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.newOrderDeliveryMethodTop{
    display: flex;
    align-items: flex-start;
}
.newOrderDeliveryMethodTop > div{
    display: flex;
    padding: 11px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border: 1px solid #D4D5D6;
    border-radius: 10px 10px 0 0;
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        color: var(--text);
    }
}
.newOrderDeliveryMethodTop > div.active{
    background: var(--accent);
    p{
        color: var(--white);
    }
}
.newOrderDeliveryMethodTop{
    align-self: stretch;
}
.pickupDeliveryInfo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pickupCityWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}
.pickupCityWrapper > p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}
.pickupCitiesListWrapper{
    display: flex;
    width: 400px;
    cursor: pointer;
    height: 53px;
    padding: 12px 18px 13px 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--Dark-D5, #EEEFF0);
}
.pickupCitiesListWrapper > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.activeCity{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.pickupCitiesListWrapper{
    position: relative;
}
.list{
    z-index: 100;
    position: absolute;
    bottom: -320px;
    left: 0;
    display: flex;
    width: 400px;
    height: auto;
    padding: 25px 0 26px 0;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 18px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
}
.list > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
    p{
        padding: 6px 16px;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        align-self: stretch;
    }
}
.list > div > p:hover{
    background: #e5e4e7;
}
.pickupPointsList{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.pickupPointsList > p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}
.pointsList{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.pointItem{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #D4D5D6;
    position: relative;
    padding: 12px 14px;
    cursor: pointer;
}
.pointItem > input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.newOrderDeliveryMethodBody{
    width: 100%;
}
.pointItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pointItem > div:nth-child(4){
    width: 20px;
    height: 20px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid var(--Dark-D10, #E1E2E3);
    background: var(--Dark-D0, #FFF);
}
.pointItem > div:nth-child(1){
    display: none;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid var(--Dark-D10, #E1E2E3);
    background: var(--Dark-D0, #FFF);
}
.pointItem > div:nth-child(1) > svg{
    display: none;
}
.pointItem:has(input:checked){
    border: 2px solid var(--accent)
}
.pointItem:has(input:checked) > div:nth-child(4)::after{
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--accent);    
}
.pointItem > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pointItem > div:nth-child(2) > p:nth-child(1){
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    color: #0B262E;
}
.pointItem > div:nth-child(2) > p:nth-child(2){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    color: #8F9596;
}
.newOrderPayment{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.newOrderPaymentItem{
    display: flex;
    padding: 12px 14px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 1px solid #D4D5D6;
    position: relative;
    border-radius: 16px;
}
.newOrderPaymentItem > input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
}
.newOrderPaymentItem > div:nth-child(2){
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.newOrderPaymentItem:has(input:checked) {
    border: 2px solid var(--accent);
}
.newOrderPaymentItem:has(input:checked) > div:nth-child(2)::after{
    content: "";
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 50%;
    background: var(--accent);
}
.newOrderLeft{
    display: flex;
    gap: 20px;
    align-items: center;
}
.newOrderLeft > div{
    display: flex;
    flex-direction: column;
}
.newOrderLeft > div> p:nth-child(1){
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.newOrderLeft > div> p:nth-child(2){
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    color: #8F9596;
}
.newOrderBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 52px;
    padding: 14px 20px 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 18px;
    background: var(--accent);
    p{
        font-weight: 500;
        color: var(--white);
    }
}


.newOrderDetails{
    display: flex;
    align-items: flex-start;
    width: 335px;
    border-radius: 18px;
    background: var(--white);
    padding: 24px 18px 32px 18px;
}
.newOrderDetailsContent{
    display: flex;
    flex-direction:  column;
    gap: 18px;
}
.newOrderDetailsContent > h4{
    font-size: 24px;
    line-height: 28px;
}
.newOrderDetailsList{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
    align-items: flex-start;
}
.newOrderDetailItem {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.newOrderDetailItem > div{
    display: flex;
    width: 56px;
    height: 56px;
    align-items: flex-start;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.newOrderDetailItem > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newOrderDetailItem > a{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    letter-spacing: .14px;
}
.newOrderPriceBlock{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.newOrderPriceBlock > .top{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.newCharacteristicItem{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.newCharacteristicItem > span{
    font-size: 16px;
    font-style: normal;
    line-height: 20px; /* 125% */
}
.newCharacteristicItem > span:nth-child(1){
    font-weight: 400;
    color: #909596;
}
.line{
    flex: 1 0 0;
    display: flex;
    padding-bottom: 6px;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #E1E2E3
}
.newCharacteristicItem > span:nth-child(3){
    font-weight: 700;
    color: var(--text);
}
.bottom{
    align-self: stretch;
    display: flex;
    gap: 8px;
}
.bottom > span{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 71.429% */
    color: var(--text);
}
.deliveryStandart{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.deliveryAdressInputs{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.deliveryAdressInputs:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}
.deliveryAdressInputs > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.deliveryAdressInputs > div  > p:nth-child(1),
.deliveryAdressInputs > div:nth-child(2)  > div > p:nth-child(1){
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #152429;
}
.deliveryAdressInputs > div > p:nth-child(1) > span{
    color: var(--accent);
}
.deliveryAdressInputs > div > input,
.deliveryAdressInputs > div:nth-child(2)  > div > input{
    padding: 12px 18px 13px 18px;
    display: flex;
    border-radius: 10px;
    background: #EEEFF0;
}
.deliveryAdressInputs > div:nth-child(1) > input{
    width: 400px;
}
.deliveryAdressInputs > div:nth-child(1) > span:last-child{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
    color: #8F9596;
}
.deliveryAdressInputs > div:nth-child(2) > input{
    width: 120px;
}
/* .notes > input{
    width: 658px!important;
} */
 .deliveryBtnWrapper{
    display: flex;
    align-items: center;
    gap: 30px;
 }
.deliveryBtnWrapper > button{
    display: flex;
    width: 249px;
    padding: 18px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--Accent-A100, #FF5302);
    box-shadow: 0 2px 8px 0 rgba(11, 38, 46, 0.04), 0 2px 2px 0 rgba(11, 38, 46, 0.08);
    p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: var(--white);
    }
 }
.deliveryBtnWrapper > button:hover{
    background: var(--accent-hover);
}
.deliveryInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.deliveryInfo > div{
    display: flex;
    flex-direction: column;
}
.deliveryInfo > div > p{
    font-size: 14px;
    line-height: 140%;
    color: #152429;
    font-weight: 400;
}
.deliveryInfo > div > p:last-child{
    font-weight: 700;
}

@media (max-width:768px){
    .newOrderPageTop{
        padding: 10px 16px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .newOrderPageTop > a > p{
        display: none;
    }
    .newOrderPageTop > h3{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: .16px;
        margin: 0 auto;
    }
    .mobileTotalOrderCount{
        padding: 14px 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobileTotalOrderCount > span{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 112.5% */
    }
    .mobileTotalOrderCount > span:last-child{
        font-weight: 700;
    }
    .newOrderBody{
        flex-direction: column;
        margin-top: 16px;
    }
    .newOrderDetails, .newOrderContacts{
        width: 100%;
    }
    .newOrderField{
        padding: 16px;
    }
    .newOrderFieldTitle{
        align-items: center;
        gap:8px;
    }
    .newOrderFieldContactInfo{
        padding: 0;
    }
    .newOrderFieldContactInfo > div:nth-child(2) > p:nth-child(1),
    .newOrderFieldContactInfo > div:nth-child(2) > p:nth-child(2){
        font-size: 14px;
        line-height: 18px;
    }
    .newOrderFieldContactInfo > div:nth-child(2) > p:nth-child(2){
        line-height: 14px;
    }
    .newOrderFieldTitle > p:nth-child(2){
        font-size: 18px;
        letter-spacing: -0.18px;
        font-weight: 500;
        line-height: 18px;
    }
    .newOrderDeliveryMethod{
        padding: 0;
    }
    .pickupCitiesListWrapper{
        width: 100%;
    }  
    .newOrderDeliveryMethodTop > div{
        padding: 10px 14px;
        border-radius: 0 14px 14px 0;
        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
    .newOrderDeliveryMethodTop > div.active{
        border-radius: 14px;
    }
    .pickupCityWrapper > p{
        display: none;
    }
    .deliveryAdressInputs > div{
        width: 100%;
    }
    .deliveryAdressInputs {
        flex-direction: column;
    }
    .deliveryAdressInputs > div:nth-child(2)  > div > p{
        /* flex-direction: column; */
        display: none;
    }
    .deliveryBtnWrapper > button{
        display: none;
    }
    .newOrderPaymentItem{
        padding: 12px 8px;
        border-radius: 14px;
    }
    .newOrderLeft > div > p:nth-child(1){
        font-size: 16px;
        line-height: 20px;
    }
    .newOrderLeft > div > p:nth-child(2){
        font-size: 12px;
        line-height: 14px;
    }
    .newOrderDetails{
        padding: 16px;
    }
    .newOrderDetailsContent{
        width: 100%;
    }
    .newOrderDetailsContent > h4{
        display: none;
    }
    .newCharacteristicItem > span{
        font-size: 14px;
        line-height: 16px;
    }
    .bottom > span{
        font-size: 20px;
        line-height: 20px;
    }
    .newOrderPriceBlock{
        gap: 20px;
    }
    .newOrderField > .newOrderBtn{
        display: none;
    }
    .newOrderBtn{
        padding: 14px 16px;
        height: 52px;
        gap: 12px;
        border-radius: 18px;
        p{
            font-size: 16px;
            line-height: 16px;
        }
    }
}