.dicountSection{
    padding: 40px 0;
    background: var(--text);
}
.discountSectionContent{
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.discountSectionTitleBlock{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: var(--white);
}
.discountSectionTitleBlock > h3{
    font-size: 36px;
    font-style: normal;
    line-height: 110%; /* 39.6px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}
.discountedProducts{
    width: 100%;
    height: 480px;
    position: relative;
}
.discountedProducts > button{
    position: absolute;
    top: 50%;
    margin-top: -28px;
    z-index: 30;
}
.discountedProducts > button:nth-child(3){
    right: -16px;
}
.discountedProducts > button:nth-child(2){
    left: -16px;
}

@media (max-width: 768px){
    .discountSection{
        padding: 24px 0;
    }
    .discountSectionContent{
        padding: 0 16px;
    }
    .discountedProducts > button:nth-child(2){
        left: -8px;
    }
    .discountedProducts > button:nth-child(3){
        right: -8px;
    }
}