.recommendedSection{
    padding: 40px 0;
}
.recommendedSectionContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
}
.recommendedSectionContent > h3{
    font-size: 32px;
    font-style: normal;
    line-height: 44px; /* 137.5% */
    letter-spacing: 0.64px;
}
.recommendedSlider{
    position: relative;
    z-index: 1;
}
.recommendedSlider > button{
    position: absolute;
    top: 50%;
    margin-top: -28px;
    z-index: 10;
}
.recommendedSlider > button:last-child{
    right: -16px;
}
.recommendedSlider > button:nth-child(2){
    left: -16px;
}
@media (max-width:768px){
    .recommendedSection{
        padding: 24px 0;
    }
    .recommendedSectionContent{
        padding: 0 16px;
    }
    .recommendedSectionContent > h3{
        font-size: 20px;
        line-height: 120%;
    }
    .recommendedSlider > button:nth-child(2){
        left: -8px;
    }
    .recommendedSlider > button:last-child{
        right: -8px;
    }
}